@import "./root.css";

.newsWrapper{
    color:black;
    background-color: var(--secondary);
    border: var(--primary) solid 0.15em;
    margin: 0px auto 1em auto;
    padding:1em;
    border-radius:0.8em;

    box-shadow: 2px 2px 10px;
}
.newsWrapper h1{
    font-size:1.6em;
    font-weight:bolder;
    font-style:italic;
    text-decoration:underline;
}
.newsWrapper .content{
    max-width:inherit;
    word-wrap:break-word;
}
.newsWrapper .details{
    font-size:1em;
    display:block;
    font-style:italic;
    text-decoration:underline;
    font-weight:lighter;
}

.centerWrapper.loading {
    font-weight: 700;
    font-size: 1.5em;
}

h1, h2, p {
    text-align: justify;
}

figure {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

img {
    max-height: 50vh;
    max-width: 100%;
}

.divWrapperNewsDeleteButton {
    margin-top:10px;
}
.divWrapperNewsDeleteButton button{
    width:100%;
    background-color:black;
    color:white;
    font-weight:bolder;
    padding:5px;
    border:solid white 3px;
    border-radius:0.8em;
}

.divWrapperNewsDeleteButton button:hover{
    background-color:rgb(189, 22, 22);
    transition: 0.3s;
}