@import "./root.css";
.perfilWrapper{
    background-color: var(--secondary);
    width:80%;
    border:0.15em solid var(--primary);
    height:fit-content;
    padding:2em;
    margin:2em auto 0em auto;
    border-radius:0.8em;
    box-shadow: 4px 4px 10px;
}

.perfilWrapper span{
    display:block;
    font-weight:bold;
    font-size:1.2em;
    color:black;
}
.school{
    background-color: white;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    border:2px black solid;
    height:fit-content;
    width:fit-content;
    padding:0.8em 1em 0.8em 1em ; 
    text-align:center;
    border-radius:0.8em;
    margin-left:0;
    font-size:0.8em;
    margin: 0.3em 0.6em 0em 0em;
    box-shadow: 2px 2px 4px;
}
