:root{
    --primary: #450a0a;
    --secondary: #fed7aa;
    --secondary-dark:#ffbb6d;
}
.backgroundWrapper{
    background-image: url("..//../public/default_background.jpg");
    height: 100%;
    background-size: cover;
    margin-bottom:6em;
}